body {
  background: url(../img/fondo2.jpg) #615F74 repeat-x top left fixed;
  font-family: arial, sans-serif; 
  color: white;
}

.bigText {
  font-family: "Proxima Nova Regular","Helvetica Neue",Arial,Helvetica,sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 1px 1px #333;
  text-decoration: none;
  color: white;
}

#background {
  position: relative;
  width: 100%;
}

#menu-background {
  position: fixed;
  width: 50%;
  height: 100%;
}

#content-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -537px;
  width: 1074px;
}

#menu_background0 {
  position: relative;
  width: 100%;
  top: 40px;
  height: 60px;
  background-color: #5B3E42;
}

#menu_background1 {
  position: fixed;
  width: 1074px;
  top: 40px;
  height: 60px;
  background-color: #5B3E42;
	z-index: 10;
}

.transparencia{
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

#content {  
  margin-top: 120px;
  position: relative;
  z-index: 5;
  width: 100%; 
}

#footer {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}


#logo {
  width: 100%;
  height: 630px;
  background: url(../img/logo.png) transparent no-repeat top left;
  margin-top: 200px;
}

ul#menu {
  margin-top: 20px;
}

ul#menu li {
  display: inline;
}

ul#menu li a {
  font-size: 18px;
  color: #9B9BA4;
  font-weight: bold;
  text-shadow: 1px 1px #333;
  text-decoration: none;
}

ul#menu li a:hover {
  text-decoration: underline;
  color: white;
}

ul#menu li a.selected {
  text-decoration: underline;
  color: white;
}

#curriculum{
  font-family: "Proxima Nova Regular","Helvetica Neue",Arial,Helvetica,sans-serif;
  line-height: 24px;
  font-size: 18px;
}

.innerList{
  list-style: none;
}



.thumbs { margin: 0; padding: 0; overflow: hidden; margin-bottom: 20px;}
.thumbs li { list-style: none; float: left; margin: 15px; padding: 3px; background: #eee; -moz-box-shadow: 0 0 4px #444; -webkit-box-shadow: 0 0 2px #000; }
.thumbs li a { }
.thumbs li img { display: block; }
.thumbs li a img { border: none; /*width: 222px; height: 153px;*/}
