body {
  background: url(../img/fondo.jpg) #615F74 repeat-x top left fixed;
  font-family: Monotype, sans-serif; 
  color: white;
  font-size: 24px;
}

.bigText {
  font-family: "Proxima Nova Regular","Helvetica Neue",Arial,Helvetica,sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 1px 1px #333;
  text-decoration: none;
  color: white;
}

.content {
  width: 1074px;
  margin: 0 auto;
}

#menu-wrapper {
  margin: 0;
  background: url(../img/fondo.jpg) #615F74 repeat-x top left fixed;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 1000;
}

#content-wrapper {
  padding: 1;
  width: 100%;
  z-index: 500;
}


#footer {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}



ul#menu {
  margin-top: 40px
}

ul#menu li {
  display: inline;
}

ul#menu li a {
  font-size: 26px;
  color: #FFFFFF;
  font-weight: bold;
  text-shadow: 1px 1px #333;
  text-decoration: none;
}

ul#menu li a:hover {
  text-decoration: underline;
  color: white;
}

ul#menu li a.selected {
  text-decoration: underline;
  color: white;
}

#curriculum{
  font-family: "Proxima Nova Regular","Helvetica Neue",Arial,Helvetica,sans-serif;
  line-height: 28px;
  font-size: 20px;
}

.innerList{
  list-style: none;
}



.thumbs { margin: 0; padding: 0; overflow: hidden; margin-bottom: 20px;}
.thumbs li { list-style: none; float: left; margin: 15px; padding: 3px; background: #eee; -moz-box-shadow: 0 0 4px #444; -webkit-box-shadow: 0 0 2px #000; }
.thumbs li a { }
.thumbs li img { display: block; }
.thumbs li a img { border: none; /*width: 222px; height: 153px;*/}
